@import 'vars';

body{
	margin: 0;
}
#weather{
	.sun{
		width: 180px;
		height: 180px;
		position: fixed;
		right: 5%;
		top: 4%;
		border-radius: 90px;
	}
	.mountains{
		overflow:hidden;
		position: absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;

		.rounded-mountain{
			border-right: 50px solid transparent;
			border-bottom: 50px solid transparent;
			border-left: 50px solid;
			border-radius: 30px;
			border-top: 50px solid;
			width: 300px;
			height: 300px;
			transform: rotate(45deg);
			bottom: -210px;
			position: fixed;
			transition: background-color 2000ms ease-in-out, border-color 2000ms  ease-in-out;
		}
		.rounded-mountain-1{
			@extend .rounded-mountain;
			z-index:5
		}

		.rounded-mountain-2,
		.rounded-mountain-3{
			z-index: 3
		}

		.rounded-mountain-2{
			@extend .rounded-mountain;
			opacity: 0.5;
			left: 133px;
			bottom: -241px;
		}

		.rounded-mountain-3{
			@extend .rounded-mountain;
			opacity: 0.6;
			left: -131px;
			bottom: -225px;
		}

		.rounded-mountain-top{
			border-width: 115px;
			border-style: solid;
			border-right-color: transparent;
			border-bottom-color: transparent;
			border-radius: 30px 0 0 0;
			bottom: 174px;
			left: -50px;
			top: -50px;
			position: fixed;
			background: transparent;
		}

		.rounded-mountain-cap-1, .rounded-mountain-cap-2, .rounded-mountain-cap-3 {
			position: absolute;
			transform: rotate(90deg);
			border-radius: 100px;
			border-style: solid;
			border-left-width: 63px;
			border-left-color: transparent;
			border-right-width: 60px;
			border-bottom-width: 50px;
			border-bottom-color: transparent;
			border-top-width: 50px;
		}
		.rounded-mountain-cap-1 {
			left: -133px;
			top: -3px;
		}
		.rounded-mountain-cap-2 {
			left: -77px;
			top: -82px;
		}
		.rounded-mountain-cap-3 {
			left: -11px;
			top: -125px;
			transform: rotateX(180deg);
		}

		@keyframes cloud {
			0%   { left: -200px; }
			100% { left: 100%; }
		}

		.cloud,
		.cloud:before,
		.cloud:after {
			position: absolute;
			width: 140px;
			height: 60px;
			border-radius: 180px / 80px;
		}

		.cloud {
			position: fixed;
			z-index: 4;
			left: -220px;
			&:before {
				content: '';
				top: -5px;
				left: 67px;
			}
			&:after {
				content: '';
				left: 28px;
				top: -22px;
			}
		}
		.cloud-1{
			@extend .cloud;
			animation: cloud 80s infinite linear;
			animation-delay: 5s;
			bottom: 280px;
		}
		.cloud-2{
			@extend .cloud;
			animation: cloud 65s infinite linear;
			animation-delay: 3s;
			bottom: 180px;
			opacity: 0.7;
			z-index: 6;
		}
		.cloud-3{
			@extend .cloud;
			animation: cloud 140s infinite linear;
			animation-delay: 7s;
			bottom: 210px;
		}
		.cloud-4{
			@extend .cloud;
			animation: cloud 50s infinite linear;
			bottom: 250px;
			opacity: 0.9;
		}
	}

	.meter {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 80%;
		max-height: 400px;
		z-index: 10;
		.glass {
			background: $gray-100;
			border-radius: 100px 100px 0 0;
			display: block;
			height: 80%;
			margin: 0 auto;
			padding: 5px;
			position: relative;
			width: 20px;

			.filler, .info {
				border-radius: 100px 100px 0 0;
				display: block;
				height: 100%;
				width: 20px;
				position: absolute;
				z-index: 30;
				bottom: -5px;
			}

			.info{
				width: 50px;
				padding-left: 50px;
				background: transparent;
			}
		}
		.bulb {
			background: $gray-100;
			border-radius: 100px;
			display: block;
			height: 50px;
			margin: 0 auto;
			padding: 5px;
			position: relative;
			top: -20px;
			width: 50px;
			.bulb-fill {
				border-radius: 100px;
				display: block;
				height: 50px;
				width: 50px;
			}
		}
	}

	&.summer{
		background: $sky-summer;
		transition: background-color 1000ms linear;
		.mountains {
			.rounded-mountain{
				border-left-color: $brown;
				border-top-color: $brown;
				background-color: $brown;
			}
			.rounded-mountain-cap-1, .rounded-mountain-cap-2, .rounded-mountain-cap-3 {
				border-top-color: $green;
				border-right-color: $green;
				transition: border-color 1000ms linear;
			}
			.rounded-mountain-top{
				border-top-color: $green;
				border-left-color: $green;
				transition: border-color 1000ms linear;
			}
			.cloud, .cloud:before, .cloud:after{
				background: $white;
			}
		}
		.sun{
			background: $yellow;
			box-shadow: 1px 1px 30px lighten($yellow, 20%);
			transition: background 1000ms linear;
		}
		.bulb{
			.bulb-fill{
				background: $red;
				transition: background 1000ms linear;
			}
		}
		.glass{
			.filler{
				background: $red;
				transition: background 1000ms linear;
			}
		}
	}

	&.spring{
		background: $sky-spring;
		transition: background-color 1000ms linear;
		.mountains {
			.rounded-mountain{
				border-left-color: $green;
				border-top-color: $green;
				background: $green;
			}
			.rounded-mountain-cap-1, .rounded-mountain-cap-2, .rounded-mountain-cap-3 {
				border-top-color: $green;
				border-right-color: $green;
				transition: border-color 1000ms linear;
			}
			.rounded-mountain-top{
				border-top-color: $green;
				border-left-color: $green;
				transition: border-color 1000ms linear;
			}
			.cloud, .cloud:before, .cloud:after{
				background: $white;
			}
		}
		.sun{
			background: lighten($yellow, 10%);
			box-shadow: 1px 1px 30px lighten($yellow, 30%);
			transition: background 1000ms linear;
		}
		.bulb{
			.bulb-fill{
				background: lighten($red, 10%);
				transition: background 1000ms linear;
			}
		}
		.glass{
			.filler{
				background: lighten($red, 10%);
				transition: background 1000ms linear;
			}
		}
	}

	&.fall{
		background: $sky-fall;
		transition: background-color 1000ms linear;
		.mountains {
			.rounded-mountain{
				border-left-color: $brown;
				border-top-color: $brown;
				background: $brown;
			}
			.rounded-mountain-cap-1, .rounded-mountain-cap-2, .rounded-mountain-cap-3 {
				border-top-color: $white;
				border-right-color: $white;
				transition: border-color 1000ms linear;
			}
			.rounded-mountain-top{
				border-top-color: $white;
				border-left-color: $white;
				transition: border-color 1000ms linear;
			}
			.cloud, .cloud:before, .cloud:after{
				background: $white;
			}
		}
		.sun{
			background: $white;
			box-shadow: 1px 1px 30px lighten($white, 20%);
			transition: background 1000ms linear;
		}
		.bulb{
			.bulb-fill{
				background: lighten($blue, 5%);
				transition: background 1000ms linear;
			}
		}
		.glass{
			.filler{
				background: lighten($blue, 5%);
				transition: background 1000ms linear;
			}
		}
	}

	&.winter{
		background: $sky-winter;
		transition: background-color 1000ms linear;
		.mountains {
			.rounded-mountain{
				border-left-color: $white;
				border-top-color: $white;
				background: $white;
			}
			.rounded-mountain-cap-1, .rounded-mountain-cap-2, .rounded-mountain-cap-3 {
				border-top-color: $white;
				border-right-color: $white;
				transition: border-color 1000ms linear;
			}
			.rounded-mountain-top{
				border-top-color: $white;
				border-left-color: $white;
				transition: border-color 1000ms linear;
			}
			.cloud, .cloud:before, .cloud:after{
				background: $gray-100;
			}
		}
		.sun{
			background: $white;
			box-shadow: 1px 1px 30px $white;
			transition: background 1000ms linear;
		}
		.bulb{
			.bulb-fill{
				background: lighten($blue, 2%);
				transition: background 1000ms linear;
			}
		}
		.glass{
			.filler{
				background:  lighten($blue, 2%);
				transition: background 1000ms linear;
			}
		}
	}
}






@media screen and (max-width: 780px) {
	#weather{
		.sun{
			width: 120px;
			height: 120px;
			border-radius: 60px;
		}
		.mountains{
			.cloud{
				&:before {
					left: 50px;
				}
				&:after {
					left: 25px;
					top: -10px;
				}
			}
			.cloud,
			.cloud:before,
			.cloud:after {
				width: 70px;
				height: 30px;
				border-radius: 100px / 50px;
			}

			.rounded-mountain{
				width: 200px;
				height: 200px;
				bottom: -160px;
				.rounded-mountain-top{
					left: -51px;
    			top: -51px;
					border-width: 90px;
				}
				.rounded-mountain-cap-1, .rounded-mountain-cap-2, .rounded-mountain-cap-3 {
					border-left-width: 43px;
					border-right-width: 40px;
					border-bottom-width: 30px;
					border-top-width: 30px;
				}
				.rounded-mountain-cap-1 {
					left: -89px;
					top: -2px;
				}
				.rounded-mountain-cap-2 {
					left: -53px;
					top: -46px;
				}
				.rounded-mountain-cap-3 {
					left: -15px;
					top: -75px;
					transform: rotateX(180deg);
				}

			}
		}
	}
}
