.mountains {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
  .mountains .mountain,
  .mountains .mountain-two,
  .mountains .mountain-three {
    position: fixed;
    bottom: 0;
    border-left: 224px solid transparent;
    border-right: 224px solid transparent;
    border-bottom: 270px solid #663300;
    z-index: 1; }
  .mountains .mountain-two {
    left: 80px;
    bottom: -20px;
    opacity: .5;
    z-index: 0; }
  .mountains .mountain-three {
    left: -60px;
    bottom: -10px;
    opacity: .6;
    z-index: 0; }
  .mountains .mountain-top {
    position: absolute;
    right: -101px;
    border-left: 100px solid transparent;
    border-right: 101px solid transparent;
    border-bottom: 120px solid #39ac39;
    z-index: 2; }
  .mountains .mountain-cap-1, .mountains .mountain-cap-2, .mountains .mountain-cap-3 {
    position: absolute;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 25px solid #39ac39; }
  .mountains .mountain-cap-1 {
    left: -62px;
    top: 120px; }
  .mountains .mountain-cap-2 {
    left: -25px;
    top: 112px; }
  .mountains .mountain-cap-3 {
    left: 11px;
    top: 117px; }
